.checkbox {
  @apply h-4 w-4 inline-block p-0 rounded appearance-none;
  @apply bg-transparent bg-origin-border border border-gray-700;
  @apply text-primary;
  @apply flex-shrink-0 select-none align-middle;
  print-color-adjust: exact;

  &[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }

  &:focus {
    @apply ring-0 ring-transparent ring-offset-transparent;
  }

  &:focus-visible {
    @apply ring-2 ring-primary ring-offset-2 ring-offset-gray-900;
  }

  &:checked {
    @apply bg-current border-transparent;
    @apply bg-no-repeat;

    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
    background-position: 50%;
    background-size: 100% 100%;
  }

  &:indeterminate {
    @apply bg-current border-transparent;
  }
}
