$checkbox-size: 1.5rem;

input[type="checkbox"] {
  @apply bg-primary;
}

.checkbox {
  input[type="checkbox"] {
    @apply opacity-0 pointer-events-none absolute;
  }

  input[type="checkbox"] + label {
    @apply inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
  }

  input[type="checkbox"] + label::before {
    @apply inline-block rounded border-2 border-transparent bg-input;
    @include transition("border-color, shadow");
    content: "";
    vertical-align: bottom;
    width: $checkbox-size;
    height: $checkbox-size;
  }

  input[type="checkbox"]:hover + label::before {
    @apply border-primary shadow-lg;
  }

  input[type="checkbox"]:checked + label::before {
    @apply text-primary text-center border-primary font-black text-xl;
    content: "✓";
    line-height: 21px;
  }
}