@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("https://dweb.link/ipfs/QmZwnqdy1nZdjY5Gp7b9iYgMwnS3Vnh9TrkvCoPWJQaZgv?filename=Inter-roman.var.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("https://dweb.link/ipfs/Qmcg9bXJGEgqPnQGA6sTp1zJMB6sLuxrPWRR1qP8pjUou4?filename=Inter-italic.var.woff2") format("woff2");
}