@import "./root";
@import "./vendor";
@import "./fonts.scss";

body {
  @apply bg-background text-origin;
  accent-color: theme('colors.primary.DEFAULT');
  // font-feature-settings: "liga", "ss01", "zero", "cv11", "frac", "calt", "tnum";
}

hr {
  @apply border-menus-light my-12;
}

.code {
  @apply rounded font-semibold px-1 text-sm;
  background-color: #444950;
  
  a {
    @apply text-primary underline;
  }
}

.pre {
  @apply my-6 py-3 px-4;
  @apply shadow text-sm rounded-lg overflow-auto bg-black;
  max-height: 400px;

  a {
    @apply text-primary underline;
  }
}