:root {
  /* Theme */
  --theme-night-lighten: theme('colors.night.lighten');
  --theme-night-light: theme('colors.night.light');
  --theme-night: theme('colors.night.DEFAULT');
  --theme-night-dark: theme('colors.night.dark');
  --theme-night-darken: theme('colors.night.darken');
  
  --theme-snow-lighter: theme('colors.snow.lighten');
  --theme-snow-light: theme('colors.snow.light');
  --theme-snow: theme('colors.snow.DEFAULT');
  --theme-snow-dark: theme('colors.snow.dark');
  --theme-snow-darken: theme('colors.snow.darken');

  --theme-frost-green: theme('colors.frost.green');
  --theme-frost-cyan: theme('colors.frost.cyan');
  --theme-frost-gray: theme('colors.frost.gray');
  --theme-frost-blue: theme('colors.frost.blue');

  --theme-aurora-red: theme('colors.aurora.red');
  --theme-aurora-orange: theme('colors.aurora.orange');
  --theme-aurora-yellow: theme('colors.aurora.yellow');
  --theme-aurora-green: theme('colors.aurora.green');
  --theme-aurora-pink: theme('colors.aurora.pink');

  --theme-primary-lighten: theme('colors.primary.lighten');
  --theme-primary-light: theme('colors.primary.light');
  --theme-primary: theme('colors.primary.DEFAULT');
  --theme-primary-dark: theme('colors.primary.dark');
  --theme-primary-darken: theme('colors.primary.darken');

  /* Components */

  --theme-origin-lighten: theme('colors.origin.lighten');
  --theme-origin-light: theme('colors.origin.light');
  --theme-origin: theme('colors.origin.DEFAULT');
  --theme-origin-dark: theme('colors.origin.dark');
  --theme-origin-darken: theme('colors.origin.darken');

  --theme-button-lighten: theme('colors.button.lighten');
  --theme-button-light: theme('colors.button.light');
  --theme-button: theme('colors.button.DEFAULT');
  --theme-button-dark: theme('colors.button.dark');
  --theme-button-darken: theme('colors.button.darken');

  /* Colors */

  --theme-danger-light: theme('colors.danger.light');
  --theme-danger: theme('colors.danger.DEFAULT');
  --theme-danger-dark: theme('colors.danger.dark');

  --theme-success-light: theme('colors.success.light');
  --theme-success: theme('colors.success.DEFAULT');
  --theme-success-dark: theme('colors.success.dark');

  --theme-warning-light: theme('colors.warning.light');
  --theme-warning: theme('colors.warning.DEFAULT');
  --theme-warning-dark: theme('colors.warning.dark');

  --theme-blue-light: theme('colors.blue.light');
  --theme-blue: theme('colors.blue.DEFAULT');
  --theme-blue-dark: theme('colors.blue.dark');

  /*
  --theme-orange-light: theme('colors.orange.light');
  --theme-orange: theme('colors.orange.DEFAULT');
  --theme-orange-dark: theme('colors.orange.dark');

  --theme-pink-light: theme('colors.pink.light');
  --theme-pink: theme('colors.pink.DEFAULT');
  --theme-pink-dark: theme('colors.pink.dark');
  */

  --theme-gray-light: theme('colors.gray.light');
  --theme-gray: theme('colors.gray.DEFAULT');
  --theme-gray-dark: theme('colors.gray.dark');

  --theme-cyan-light: theme('colors.cyan.light');
  --theme-cyan: theme('colors.cyan.DEFAULT');
  --theme-cyan-dark: theme('colors.cyan.dark');

  --theme-green-light: theme('colors.green.light');
  --theme-green: theme('colors.green.DEFAULT');
  --theme-green-dark: theme('colors.green.dark');
}