{
  "extends": [
    "oclif",
    "oclif-typescript",
    "@opendreamnet/eslint-config"
  ],
  "rules": {
    "node/no-missing-import": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
