{
  "extends": [
    "@opendreamnet/eslint-config"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-await-in-loop": "off"
  }
}
