{
  "extends": [
    "@opendreamnet/eslint-config"
  ],
  "rules": {
    "no-await-in-loop": "off",
    "promise/catch-or-return": "off",
    "promise/always-return": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
